<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nbaFirstPage</title>
    <link rel="stylesheet" type="text/css" href="../static/css/nbaFirst.css">
</head>
<body>
    <div class="header">
        <div class="w1200">
            <div class="header-right">
                <img src="../static/img/nba-icon.png" width="26" height="42">
                <span>联系电话:666-666-6666</span>
                <a href={% url 'login' %}>请登录/注册</a>
            </div>
        </div>
    </div>
    <div class="nav-wrap ">
        <div class="w1200">
            <a >更多请登录</a>
            <a class="active" style="margin-right: 200px">首页</a>

        </div>

    </div>
    <div class="content">
        <div class="w1200">

            <div class="main">
                <dl>
                    <dt>
                        <img src="../static/img/4.jpeg" width="645" height="412">
                    </dt>
                    <dd class="d">
                        <img src="../static/img/2.jfif" width="121px" height="166px">
                    </dd>

                    <dd class="a">
                        <img src="../static/img/4.jfif" height="166px" width="115px">
                    </dd><dd class="b">
                        <img src="../static/img/5.jfif" height="166px" width="115px">
                    </dd>
                    <dd class="c">
                        <img src="../static/img/3.jfif" height="166px" width="280px">
                    </dd>
                </dl>
                    <div class="word">
                        <h1 align="center">Nba经典</h1>
                        <p>2016年,欧文45°角三分准绝杀勇士,夺得克利夫兰首个总冠军</p>
                        <p>科比.布莱恩特的后仰跳投成为一个时代的印记</p>
                        <p>詹韦连线,睥睨天下</p>
                        <p>库里三分,开创小球时代</p>
                    </div>
                </dt>
            </div>


        </div>
    </div>

</body>
</html>