<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>用户中心</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/css/style-starter.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">
<div class="se-pre-con"></div>
<section>
    <!-- sidebar menu start -->
    <div class="sidebar-menu sticky-sidebar-menu">

        <!-- logo start -->
        <div class="logo">
            <h1><a href="index_possession.html">Collective</a></h1>
        </div>


        <div class="logo-icon text-center">
            <a title="logo"><img src="../static/img/nba-icon.png" height="40" width="28" alt="logo-icon"> </a>
        </div>
        <!-- //logo end -->

        <div class="sidebar-menu-inner">

            <!-- sidebar nav start -->
            <ul class="nav nav-pills nav-stacked custom-nav ">
                <li class="active"><a href={% url 'possession' %}><i class="fa  fa-dollar"></i><span>我的资产</span></a>
                </li>
                <li class="menu-list">
                    <a href="#"><i class="fa fa-cogs"></i>
                        <span>Elements <i class="lnr lnr-chevron-right"></i></span></a>
                    <ul class="sub-menu-list">
                        <li><a href="carousels.html">#</a></li>
                        <li><a href="cards.html">#</a></li>
                        <li><a href="people.html">#</a></li>
                    </ul>
                </li>
                <li><a href="pricing.html"><i class="fa fa-table"></i> <span>#</span></a></li>
                <li><a href="blocks.html"><i class="fa fa-th"></i> <span>球队购买</span></a></li>
            </ul>
            <!-- //sidebar nav end -->
            <!-- toggle button start -->
            <a class="toggle-btn">
                <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
                <i class="fa fa-angle-double-right menu-collapsed__right"></i>
            </a>
            <!-- //toggle button end -->
        </div>
    </div>
    <!-- //sidebar menu end -->
    <!-- header-starts -->
    <div class="header sticky-header">

        <!-- notification menu start -->
        <div class="menu-right">
            <div class="navbar user-panel-top">

                <div class="user-dropdown-details d-flex">
                    <div class="profile_details_left">
                        <ul class="nofitications-dropdown">
                            <li class="dropdown">

                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="notification_header">
                                            <h3>You have 3 new notifications</h3>
                                        </div>
                                    </li>
                                    <li><a href="#" class="grid">
                                        <div class="user_img"><img src="../static/img/avatar1.jpg" alt=""></div>
                                        <div class="notification_desc">
                                            <p>Johnson purchased template</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a></li>
                                    <li class="odd"><a href="#" class="grid">
                                        <div class="user_img"><img src="../static/img/avatar2.jpg" alt=""></div>
                                        <div class="notification_desc">
                                            <p>New customer registered </p>
                                            <span>1 hour ago</span>
                                        </div>
                                    </a></li>
                                    <li><a href="#" class="grid">
                                        <div class="user_img"><img src="../static/img/avatar3.jpg" alt=""></div>
                                        <div class="notification_desc">
                                            <p>Lorem ipsum dolor sit amet </p>
                                            <span>2 hours ago</span>
                                        </div>
                                    </a></li>
                                    <li>
                                        <div class="notification_bottom">
                                            <a href="#all" class="bg-primary">See all notifications</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">

                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="notification_header">
                                            <h3>You have 4 new messages</h3>
                                        </div>
                                    </li>
                                    <li><a href="#" class="grid">
                                        <div class="user_img"><img src="../static/img/avatar1.jpg" alt=""></div>
                                        <div class="notification_desc">
                                            <p>Johnson purchased template</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a></li>
                                    <li class="odd"><a href="#" class="grid">
                                        <div class="user_img"><img src="../static/img/avatar2.jpg" alt=""></div>
                                        <div class="notification_desc">
                                            <p>New customer registered </p>
                                            <span>1 hour ago</span>
                                        </div>
                                    </a></li>
                                    <li><a href="#" class="grid">
                                        <div class="user_img"><img src="../static/img/avatar3.jpg" alt=""></div>
                                        <div class="notification_desc">
                                            <p>Lorem ipsum dolor sit amet </p>
                                            <span>2 hours ago</span>
                                        </div>
                                    </a></li>
                                    <li><a href="#" class="grid">
                                        <div class="user_img"><img src="../static/img/avatar1.jpg" alt=""></div>
                                        <div class="notification_desc">
                                            <p>Johnson purchased template</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a></li>
                                    <li>
                                        <div class="notification_bottom">
                                            <a href="#all" class="bg-primary">See all messages</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="profile_details">
                        <ul>
                            <li class="dropdown profile_details_drop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <div class="profile_img">
                                        <img src="../static/img/profileimg.jpg" class="rounded-circle" alt=""/>
                                        <div class="user-active">
                                            <span></span>
                                        </div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                                    <li class="user-info">
                                        <h5 class="user-name">{{ db.username }}</h5>
                                        <span class="status ml-2">在线</span>
                                    </li>
                                    <li class="logout"><a href={% url 'logout' %}><i class="fa fa-address-book"></i>
                                        头像上传</a></li>
                                    <li class="logout"><a href={% url 'logout' %}><i class="fa fa-power-off"></i>
                                        退出登录</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--notification menu end -->
    </div>
    <!-- //header-ends -->
    <!-- main content start -->
    <div class="main-content">

        <!-- content -->
        <div class="container-fluid content-top-gap">

            <nav aria-label="breadcrumb">

            </nav>
            <div class="welcome-msg pt-3 pb-4">
                <h1>Hi <span class="text-primary">{{ db.username }}</span>, 欢迎回来!</h1>
            </div>

            <!-- statistics data -->
            <div class="statistics">
                <div class="row">
                    <div class="col-xl-6 pr-xl-2">
                        <div class="row">
                            <div class="col-sm-6 pr-sm-2 statistics-grid">
                                <div class="card card_border border-primary-top p-4">
                                    <i class="lnr lnr-users"> </i>
                                    <h3 class="text-primary number">{{ team_amount }}</h3>
                                    <p class="stat-text">拥有球队数</p>
                                </div>
                            </div>
                            <div class="col-sm-6 pl-sm-2 statistics-grid">
                                <div class="card card_border border-primary-top p-4">
                                    <i class="lnr lnr-cart"> </i>
                                    <h3 class="text-danger number">{{ db.reposite }} billion</h3>
                                    <p class="stat-text">金币</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-6 pl-xl-2">
                        <div class="row">
                            <div class="col-sm-6 pr-sm-2 statistics-grid">
                                <div class="card card_border border-primary-top p-4">
                                    <i class="lnr lnr-cloud-download"> </i>
                                    <h3 class="text-success number">VIP 6</h3>
                                    <p class="stat-text">贵族</p>
                                </div>
                            </div>
                            <div class="col-sm-6 pl-sm-2 statistics-grid">
                                <div class="card card_border border-primary-top p-4">
                                    <i class="fa fa-dollar"> </i>
                                    <h3 class="text-secondary number">会长</h3>
                                    <p class="stat-text">球队工会</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <!-- chatting -->
            <div class="data-tables">
                <div class="row">
                    <div class="col-lg-12 chart-grid mb-4">
                        <div class="card card_border p-4">
                            <div class="card-header chart-grid__header pl-0 pt-0">
                                球队市场
                            </div>
                            <div class="messaging">
                                <div class="inbox_msg">
                                    <div class="inbox_people">
                                        <div class="headind_srch">
                                            <div class="srch_bar">
                                                <form action="/index_possessionse/" method="get">
                                                    <div class="stylish-input-group">
                                                        <input type="text" class="search-bar" placeholder="搜索球队"
                                                               name="team_name">
                                                        <span class="input-group-addon">
                          <button type="submit"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                        </span></div>
                                                </form>

                                            </div>
                                        </div>

                                        <div class="inbox_chat">
                                            {% for i in team_market %}
                                                <div class="chat_list ">
                                                    <div class="chat_people">
                                                        <div class="chat_img"><img src={{ i.timg_url }}
                                                                                           alt="Alexander"
                                                                                   class="img-fluid">
                                                        </div>
                                                        <div class="chat_ib">
                                                            <h5>{{ i.team_name }} <span
                                                                    class="chat_date">$:{{ i.value }}billion</span>
                                                            </h5>
                                                            <p>{{ i.team_location }}</p>

                                                            <div class="buybuttondiv">
                                                                {% if i.boss_name %}
                                                                    <button type="button" class="btn buybutton">
                                                                        已售
                                                                    </button>
                                                                {% else %}
                                                                    <a href="/purchase/{{ i.team_name }}/">
                                                                        {#      <a href={% url 'purchase' i.team_name %}>#}
                                                                        <button type="button" class="btn buybutton">
                                                                            购买
                                                                        </button>

                                                                    </a>
                                                                {% endif %}


                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                    <div class="mesgs">
                                        <div class="msg_history">
                                            {% for i in team_market %}
                                                {% if i in row2 %}
                                                    <div class="incoming_msg">


                                                        <div class="incoming_msg_img"><img
                                                                src="{{ i.timg_url }}"
                                                                alt="Alexander"
                                                                class="img-fluid"></div>
                                                        <div class="received_msg">
                                                            <div class="received_withd_msg">
                                                                <p>
                                                                    Now the team has been sold to Mr.{{ i.boss_name }}.
                                                                    {% if i.team_range > 8 %}We are trying to join the
                                                                        playoff{% endif %}
                                                                    {% if i.team_range <= 8 %}We are fighting for
                                                                        champion{% endif %}

                                                                </p>
                                                                <span class="time_date"> trade time:{{ i.trade_time }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if i in row %}

                                                    <div class="outgoing_msg">
                                                        <div class="sent_msg">
                                                            <p>
                                                                This team belongs to me
                                                                {% if i.team_range > 8 %}We are trying to join the
                                                                    playoff{% endif %}
                                                                {% if i.team_range <= 8 %}We are fighting for
                                                                    champion{% endif %}
                                                            </p>
                                                            <span class="time_date"> trade time:{{ i.trade_time }}</span>
                                                        </div>
                                                        <div class="outgoing_msg_img"><img
                                                                src="{{ i.timg_url }}"
                                                                alt="Alexander"
                                                                class="img-fluid"></div>
                                                    </div>
                                                {% endif %}

                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //chatting -->

            <!-- accordions -->
            <div class="accordions">
                <div class="row">
                    <!-- accordion style 1 -->
                    <div class="col-lg-12 mb-4">
                        <div class="card card_border">
                            <div class="card-header chart-grid__header">
                                我的球队
                            </div>
                            <div class="card-body">
                                <div class="accordion" id="accordionExample">
                                    {% for data in row %}
                                        <div class="card">

                                            <div class="card-header bg-white p-0" id="headingOne">

                                                <a href="#" class="card__title p-3" data-toggle="collapse"
                                                   data-target="#collapseOne"
                                                   aria-expanded="true"
                                                   aria-controls="collapseOne">{{ data.team_name }} </a>

                                            </div>


                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                                 data-parent="#accordionExample">
                                                <div class="card-body para__style">

                                                    <tr>
                                                        <td style="width: 64px">
                                                            <img src={{ data.timg_url }} alt="avatar"
                                                                 style="width: 48px;border-radius: 48px;height: 48px; background: #eee;"
                                                                 class="avatar">
                                                        </td>
                                                        <td>{{ data.team_name }}</td>
                                                        <td><br>教练:{{ data.team_coach }}</td>
                                                        <td><br>球队排行:{{ data.team_range }}</td>
                                                    </tr>

                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //accordion style 1 -->
                </div>
            </div>
            <!-- //accordions -->


            <!-- //content -->
        </div>
        <!-- main content end-->
    </div>
</section>
<!--footer section start-->
<footer class="dashboard">
    <p>2020/12/23 HEU <a href="https://w3layouts.com/" target="_blank"
                         class="text-primary"></a></p>
</footer>
<!--footer section end-->
<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
    <span class="fa fa-angle-up"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- /move top -->


<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/jquery-1.10.2.min.js"></script>

<!-- chart js -->
<script src="../static/js/Chart.min.js"></script>
<script src="../static/js/utils.js"></script>
<!-- //chart js -->

<!-- Different scripts of charts.  Ex.Barchart, Linechart -->
<script src="../static/js/bar.js"></script>
<script src="../static/js/linechart.js"></script>
<!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


<script src="../static/js/jquery.nicescroll.js"></script>
<script src="../static/js/scripts.js"></script>

<!-- close script -->
<script>
    var closebtns = document.getElementsByClassName("close-grid");
    var i;

    for (i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener("click", function () {
            this.parentElement.style.display = 'none';
        });
    }
</script>
<!-- //close script -->

<!-- disable body scroll when navbar is in active -->
<script>
    $(function () {
        $('.sidebar-menu-collapsed').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll when navbar is in active -->

<!-- loading-gif Js -->
<script src="../static/js/modernizr.js"></script>
<script>
    $(window).load(function () {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");

    });
</script>
<!--// loading-gif Js -->

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

</body>

</html>
  